numpy~=2.0.2
pandas~=2.2.2
torch~=2.5.0
pillow~=10.3.0
scikit-learn~=1.5.1
tqdm~=4.66.5
matplotlib~=3.9.2
seaborn~=0.13.2
torch==2.5.1+cu118
torchaudio==2.5.1+cu118
torchmetrics==1.5.2
torchsummary==1.5.1
torchvision==0.20.1
pytorch-lightning==2.4.0